all:
  children:
    jagw:
      hosts:
{% for ip in labs %}
        jagw{{ '%02d' % loop.index }}:
          ansible_host: "{{ ip }}"
          ansible_port: 20011
{% endfor %}
    infra:
      hosts:
{% for ip in labs %}
        infra{{ '%02d' % loop.index }}:
          ansible_host: "{{ ip }}"
          ansible_port: 20021
{% endfor %}
